*{

    font-family: 'Times New Roman', Times, serif;
    color: blue;
    font-style: normal;
    font-size: x-large;
    margin: 3px;
    box-sizing: border-box;
}

.header{
    background-color: blue;
    padding: 25px;
    margin: -20px;
    background-size: 100%;
    width: 100%;
    
}

.body{
    background-image: url(web/background.jpg);
    background-size: 100%;
    background-position: center;
}

.images{
    width: 30%;
    height: 70%;
    border-radius: 50%;
}

.menu{
    background: blue;
    background-size: 100%;
    text-align: left;
    margin: -20px;
    padding: -20px;
    width: 100%;
}

.menu ul{
    display: inline-flex;
    list-style: none;
   

}

.menu ul li a:hover{
    background-color: black;
    color: yellow;
    font-size: xx-large;
    transition: 0.25s;
}


.menu ul li{
    width: 200px;

    padding: 2px;
}

.menu ul li a{
    text-decoration: none;
    color: white;
    width: 20%;
}


.menu .fa{
    margin-right: 10px;
    
}

.submenu{
    display: none;
}

.menu ul li:hover .submenu{
    display: block;
    position: absolute;
    background-color: blue;
    margin-top: -5px;
}

.menu ul li:hover .submenu ul{
    display: block;
    margin: 10px;
}

.menu ul li:hover .submenu ul li{
    width: 170px;
    padding: 10px;
    border-bottom: 1px dotted white;
    background: transparent;
    border-radius: 0;
    text-align: center;
}

.menu ul li:hover .submenu ul li a:hover{
    color: green;
    background-color: white;
    font-size: 25px;
}

.active{
    color: red;
}

.profilediv{
    margin-top: 7%;
    background-color: rgba(211, 211, 211, 0.603);
    float: right 60%;
    
}

.profilepicdiv{
    float: left 30%;
    margin-top: -40%;
    

}

.h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: white;
    font-size: xxx-large;
}

.h2{
    color: red;
    font-style: italic;
    font-size: larger;
    background-color: rgba(211, 211, 211, 0.479);
    width: fit-content;
    text-align: center;
    margin-top: 4%;
    
}

.table{
    background-color: black;
    width: 60%;

}

.th{
    background-color: gold;
}

.td{
    background-color: lightgoldenrodyellow;
}

.educationdiv{
    padding-top: 50px;
    width: 60%;
}






